attrs==19.3.0
authlib==0.14.3
botocore==1.16.14
cffi==1.14.0
chalice==1.14.1
click==7.1.2
cryptography==2.9.2
docutils==0.15.2
enum-compat==0.0.3
jmespath==0.10.0
pycparser==2.20
pynamodb==4.3.2
python-dateutil==2.8.1
six==1.14.0
urllib3==1.25.9; python_version != "3.4"
wheel==0.34.2
